.error{
  width: 100%;
  margin-top: 30px;
  text-align: center;
  &__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 120%;
    color: #001322;
  }
  &__subTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #001322;
  }
}

.searchForm{
  width: 45%;
}

::-webkit-input-placeholder{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #B6B6B6;
}

.search-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.search-container .search-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 15px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-bottom-right-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

@media only screen and (max-width: 768px) {
  .search-container input[type="text"] {
    padding-right: 15px;
  }

  .search-container .search-button {
    padding: 3px 6px;
  }
}
