<app-menu></app-menu>
<div class="container mt-5">
  <app-breadcrumb></app-breadcrumb>

  <h3 class="servicos__title">Conheça nossas
    <br/>
    habilidades <span>em tecnologia.</span>
  </h3>

  <div class="row">
    <div class="col-lg-3 col-xs-12" *ngFor="let servico of servicos">
      <div class="cards">
        <div class="card cardService">
          <div class="card-body">
            <img [src]="servico.img" class="imgService">
            <h3 class="card-title">{{ servico.nome }}</h3>
            <p class="card-text">{{ servico.descricao }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5">
    <app-pagination></app-pagination>
  </div>
</div>
<app-footer></app-footer>
