<!-- Footer -->
<footer class="text-center text-lg-start bg-sennatech text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="container d-none d-lg-block">
      <span class="preFooter">Gostou? <a href="" class="preFooter__link">Fale conosco.</a></span>
    </div>
  </section>
  <section class="border-bottom">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-4 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <img src="../../../assets/images/sennatech_branco.png"/>
          </h6>
          <p class="footerAdress">
            Av. Engenheiro Luís Carlos Berrini, 1748, 5º Andar, Conjunto 502-504, Cep. 04551-010.  Cidade Monções, São Paulo - SP
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 ms-auto mb-md-0 mb-4 socialMedia">
          <div class="text-end iconFooter">
            <a href="" class="me-5 text-reset">
              <i class="bi bi-linkedin"></i>
            </a>
            <a href="" class="me-5 text-reset">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="" class="me-5 text-reset">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="" class="me-4 text-reset">
              <i class="bi bi-whatsapp"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Copyright -->
  <div class="container text-center p-4 footerCopy">
    © 2023 Sennatech Consultoria.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
