<app-menu></app-menu>
<div class="container mt-5">
  <app-breadcrumb></app-breadcrumb>
  <!-- <router-outlet></router-outlet> -->

  <h3 class="carreira__title">Vamos nos conectar?
    <br/>
    <span>Faça parte do nosso time.</span>
  </h3>
  <div class="row mb-3">
    <div class="carreira__filter">
      <app-custom-filter (click)="orderBy($event)" ></app-custom-filter>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-xs-12" *ngFor="let vaga of getPaginatedVagas()">
      <div class="cards">
        <div class="card cardCarreira">
          <div class="card-body">
            <p class="card-location">{{ vaga.location }}</p>
            <h3 class="card-title">{{ vaga.funcao }}</h3>
            <a routerLink="./vaga/{{vaga.id}}" class="card-link">
              <p class="card-text">Acessar Vaga <i class="bi bi-arrow-up-right"></i>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" mb-5">
    <app-pagination
      *ngIf="!isLoading"
      [lista]="vagas"
      [currentPage]="currentPage"
      (pageChanged)="pageChanged($event)"
    ></app-pagination>
  </div>

  <h5 class="carreira__subTitle mt-5 mb-5">Não achou  o que procurava?
    <br/>
    <span>Inscreva-se no <a routerLink="/contato">banco de talentos</a>.</span>
  </h5>

</div>
<app-footer></app-footer>
