p a{
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #001322;
}
.noActive{
  color: #B6B6B6!important;
  cursor: pointer;
}
