<app-menu></app-menu>
<div class="container mt-5">
  <app-breadcrumb></app-breadcrumb>
  <div class="row">
    <div class="col-lg-9 col-xs-12" *ngFor="let vaga of vagaSelecionada">
      <div class="vaga">
        <h3 class="vaga__Title">{{vaga.tituloVaga}}
          <br/>
          <span>{{vaga.funcao}}</span>
        </h3>
        <div class="vaga__Partner mt-3">
          <p class="card-partner">{{vaga.location}} | Job No. {{vaga.codVaga}}</p>
        </div>
        <div class="vaga__Article mt-3">
          <p class="vaga__Subtitle mt-4">Descrição da Vaga</p>
          <div class="vaga__Text">
            <p class="mb-3">
              <li *ngFor="let atividade of atividades">{{ atividade }}</li>
            </p>
            <p class="vaga__Subtitle mt-4">Qualificações</p>
            <p class="mb-3">
              <li *ngFor="let qualificacao of requisitos">{{ qualificacao }}</li>
            </p>
            <p class="vaga__Subtitle mt-4">Diferenciais</p>
            <p class="mb-3">
              <li *ngFor="let diferencial of diferenciais">{{ diferencial }}</li>
            </p>
            <p class="vaga__Subtitle mt-4">Benefícios</p>
            <p class="mb-3">
              <li *ngFor="let beneficio of beneficios">{{ beneficio }}</li>
            </p>
          </div>
        </div>

        <div class="vaga__socialMedia mt-lg-5 mt-3 mb-lg-5 mb-2 ">
          <span class="me-5 itens">Compartilhar</span>
          <a href="https://www.linkedin.com/company/sennatech-spc-info" class="me-lg-5 me-3 text-reset">
            <i class="bi bi-linkedin fs-7"></i>
          </a>
          <a href="https://api.whatsapp.com/send/?phone=5511985117466&text=Olá+estou+interessado+em+conhecer+a+Sennatech+%21+&type=phone_number&app_absent=0" class="me-lg-4 me-3 text-reset">
            <i class="bi bi-whatsapp fs-7"></i>
          </a>
        </div>
        <button class="btnLight ms-lg-5 ms-0 mb-lg-0 mb-5 mt-lg-0 mt-3">
         <a routerLink="./inscricao" class="text-decoration-none text-white"><p class="btnText">Inscrever-se</p></a>
        </button>
        <div class="row">
          <div class="btnDiv my-3">

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12">
      <h5 class="vaga__relacionados">Vagas Relacionadas</h5>
      <div class="card cardVaga mb-3" *ngFor="let vaga of vagasRelacionadas">
        <div class="card-body">
          <p class="card-partner">{{vaga.location}}</p>
          <h3 class="card-title">{{vaga.tituloVaga}} {{vaga.funcao}}</h3>
          <a (click)="goToRelatedVaga(vaga.codVaga)" class="card-link">
            <p class="card-text mt-5">Acessar Vaga <i class="bi bi-arrow-up-right"></i>
            </p>
          </a>
        </div>
      </div>
      <a routerLink="/carreira">
        <p class="vaga__otherVaga">Ver outras Vagas</p>
      </a>
    </div>
  </div>

</div>
<app-footer></app-footer>
