$sennatechColor: #001322;
$sennatechColorAlt: #B6B6B6;

.caption {
  position: absolute;
  left: -30%;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;

  span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

}

.linkColor{
  color: #001322!important
}

.btnDark{
  height: 49px;
  width: 49px;
  border-radius: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: $sennatechColor;
  background-color: $sennatechColor;
  transition: 0.5s ease;

  &:hover {
    width: 149px;
    transition: 1s ease;
  }

  .btnText{
    width: 200px;
    margin: 0 10px;
    text-align: left;
  }
}

.btnLight{
  height: 49px;
  width: 49px;
  border-radius: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: $sennatechColor;
  border: $sennatechColorAlt;
  background-color: $sennatechColorAlt;
  transition: 0.5s ease;

  &:hover {
    width: 140px;
    transition: 1s ease;
  }

  .btnText{
    width: 110px;
    margin: 0 20px;
    text-align: left;
  }

  .exploreBtn{
    width: 130px;
    margin: 0 20px;
    text-align: left;
  }

}

.btnExplore:hover{
  width: 160px;
  transition: 1s ease;
}

.cards{
  width: 100%;
  // display: flex;
  // flex-direction: row;
  // gap: 10px;
  padding: 15px;
}

.cardService{
  padding: 20px;
  width: 19rem;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgService{
  width: auto !important;
  height: auto !important;
  margin-bottom: 20px;
}

.card-title{
  margin-bottom: 20px;
}

.minTitle{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.section{
  margin-top: 70px;
  margin-bottom: 70px;
}

.subTitulo{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #B6B6B6;
  width: 53%;
  margin-bottom: 60px;
}

.bold{
  color: #001322;
}

.imgCards{
  display: inline-flex;
  width: 100%;
}


.imgCase{
  width: 25%;
  transition: 0.5s ease-in-out;
  position: relative;

  @media screen and (min-width:320px) and (max-width: 950px) {
    width: 100%;

    .hoverText{
      display: block !important;
      position: absolute;
      text-align: center;
      width: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: none !important;
      filter: none !important;
    }
  }

    .hoverText{
      display: none;

      &__caseImg{
        margin-bottom: 70px;
        width: 100%;
      }

      &__linkCase{
        position: relative;
        top: 150px;
        color: white;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        text-decoration-line: underline;
        text-transform: uppercase;
      }

      &__yearHover{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 1px 1px black;
    }
}

  &:hover{
    .hoverText{
      display: block;
      position: absolute;
      top: 30%;
      text-align: center;
      left: 20%;
      width: 60%;
      transition: 0.3s ease-in;

    }

    filter: grayscale(1);
    transition: 0.3s ease-in;

  }



  &__cases{
    width: 100%;
    transition: 0.5s ease-in-out;

    // &:hover{
    //   // filter: grayscale(1);
    //   // transition: 0.3s ease-in;
    // }

  }


}


.parceirosTxt{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #B6B6B6;

  .bold{
    color: #001322;
  }

}

.btnDiv{
  @media screen and (min-width:320px) {
    width: 30%;
  }

  @media screen and (min-width: 992px) {
    width: 10%;
  }
}


