<app-carousel></app-carousel>

<!-- SERVIÇOS -->
<div class="container">
  <div class="section">
    <div class="tituloServicos">
      <h6 class="minTitle">Serviços</h6>
      <div class="subTitulo">
        <p>Conheça nossas habilidades <span class="bold">em tecnologia.</span></p>
      </div>
    </div>
    <owl-carousel-o [options]="carouselOptions">
      <ng-container *ngFor="let item of itemsCardService; let i = index">
        <ng-template carouselSlide [id]="item.id">
          <div class="cards">
            <div class="card mx-lg-0 mx-auto cardService mb-lg-0 mb-5 justify-content-center">
              <div class="card-body">
                <img [src]="item.imageService" [alt]="item.titleService" class="imgService">
                <h3 class="card-title">{{item.titleService}}</h3>
                <p class="card-text">{{item.description}}</p>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
    <div class="btnDiv mx-auto my-5">
      <button class="btnLight">
        <p class="btnText">Exibir todos</p>
      </button>
    </div>
  </div>
</div>
<!-- /SERVIÇOS -->

<!-- SUCCESS CASE -->
<div class="container">
  <div class="section">
    <div class="tituloServicos">
      <h6 class="minTitle">Success Case</h6>
      <div class="subTitulo">
        <p>Clientes que afirmam <span class="bold">nossa experiência.</span></p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isMobileScreen(); then mobileScreen else desktopScreen"></div>

<ng-template #mobileScreen>
  <owl-carousel-o [options]="carouselOptionsMobile">
    <ng-container *ngFor="let item of itemsCaseSucess; let i = index">
      <ng-template carouselSlide [id]="item.id">
        <div class="imgCards">
          <div class="imgCase">
            <img [src]="item.imageCase" [alt]="item.titleCase" class="imgCase__cases">
            <div class="hoverText">
              <img [src]="item.imagePartner1" [alt]="item.partnerCase1" class="hoverText__caseImg">
              <img [src]="item.imagePartner2" [alt]="item.partnerCase2" class="hoverText__caseImg">
              <p class="hoverText__yearHover">2023</p>
              <a [routerLink]="item.case" class="hoverText__linkCase">
                <p class="">Ver Case</p>
              </a>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</ng-template>

<ng-template #desktopScreen>
  <div class="imgCards">
    <div class="imgCase" *ngFor="let item of itemsCaseSucess; let i = index">
      <img [src]="item.imageCase" [alt]="item.titleCase" class="imgCase__cases">
      <div class="hoverText">
        <img [src]="item.imagePartner1" [alt]="item.partnerCase1" class="hoverText__caseImg">
        <img [src]="item.imagePartner2" [alt]="item.partnerCase2" class="hoverText__caseImg">
        <p class="hoverText__yearHover">2023</p>
        <a [routerLink]="item.case" class="hoverText__linkCase">
          <p class="">Ver Case</p>
        </a>
      </div>
    </div>
  </div>
</ng-template>
<div class="btnDiv mx-auto my-5">
  <button class="btnLight btnExplore">
    <p class="btnText exploreBtn">Explorar Cases</p>
  </button>
</div>
<!-- /SUCCESS CASE -->

<!-- PARCEIROS -->
<div class="container">
  <div class="section">
    <div class="tituloServicos">
      <h6 class="minTitle">Parceiros</h6>
      <div class="subTitulo">
        <p>Curadoria de <span class="bold">parceiros reconhecidos.</span></p>
      </div>
    </div>
    <!-- <div class="row d-flex">
      <div class="col-md-4 col-12 ms-auto mt-lg-0 mt-5">
        <img src="../../../assets/images/solace.png" alt="...." class="">
      </div>
      <div class="col-md-4 col-12 me-auto mt-lg-0 mt-5">
        <p class="parceirosTxt">
          <span class="bold">Projetar, implantar e gerenciar arquitetura orientada a eventos (EDA)</span>
          em ambientes de nuvem híbrida, multinuvem e IoT.
        </p>
      </div>
    </div> -->
    <app-slider [items]="[
{
  id: '1',
  imgUrl: '../../../../assets/images/solace.png',
  altText: 'Solace Brand',
  title: 'Projetar, implantar e gerenciar arquitetura orientada a eventos (EDA)',
  text: 'em ambientes de nuvem híbrida, multinuvem e IoT.'

},
{
  id: '2',
  imgUrl: '../../../../assets/images/solvo.png',
  altText: 'Solvo Brand',
  title: 'Descubram, priorizem, mitiguem e corrijam automaticamente os riscos',
  text: 'de acesso à infraestrutura de nuvem.'
},
{
  id: '3',
  imgUrl: '../../../../assets/images/wib.png',
  altText: 'Wib Brand',
  title: 'A Wib API oferece visibilidade contínua em todo o ciclo de vida da API',
  text: 'desde o código até o teste e a produção.'
}
]"></app-slider>
    <div class="btnDiv mx-auto my-5">
      <button class="btnLight">
        <a routerLink="/parceiros" class="text-decoration-none linkColor">
          <p class="btnText">Exibir todos</p>
        </a>
      </button>
    </div>
  </div>
</div>


<!-- /PARCEIROS -->





<app-footer></app-footer>