.wrapper{
  background-image: url("../../../assets/images/banner.png");

  /* Set a specific height */
  min-height: 90vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  position: absolute;
  left: -30%;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #000;

  span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

}
