<app-carousel></app-carousel>

<!-- SERVIÇOS -->
<div class="container">
  <div class="section">
    <div class="tituloServicos">
      <h6 class="minTitle">Serviços</h6>
      <div class="subTitulo">
        <p>Conheça nossas habilidades <span class="bold">em tecnologia.</span></p>
      </div>
    </div>
    <div class="cards">
      <div class="card cardService">
        <div class="card-body">
          <img src="../../../assets/images/iconExemple.png" class="imgService">
          <h3 class="card-title">Nomenclatura do Serviço</h3>
          <p class="card-text">Breve descritivo sobre o serviço ou exemplos de aplicações.</p>
        </div>
      </div>
      <div class="card cardService">
        <div class="card-body">
          <img src="../../../assets/images/iconExemple.png" class="imgService">
          <h3 class="card-title">Nomenclatura do Serviço</h3>
          <p class="card-text">Breve descritivo sobre o serviço ou exemplos de aplicações.</p>
        </div>
      </div>
      <div class="card cardService">
        <div class="card-body">
          <img src="../../../assets/images/iconExemple.png" class="imgService">
          <h3 class="card-title">Nomenclatura do Serviço</h3>
          <p class="card-text">Breve descritivo sobre o serviço ou exemplos de aplicações.</p>
        </div>
      </div>
    </div>
    <div class="btnDiv mx-auto my-5">
      <button class="btnLight">
        <p class="btnText">Exibir todos</p>
      </button>
    </div>
  </div>
</div>
<!-- /SERVIÇOS -->

<!-- SUCCESS CASE -->
<div class="container">
  <div class="section">
    <div class="tituloServicos">
      <h6 class="minTitle">Success Case</h6>
      <div class="subTitulo">
        <p>Clientes que afirmam <span class="bold">nossa experiência.</span></p>
      </div>
    </div>
  </div>
</div>
<div class="imgCards">
  <div class="imgCase ">
    <img src="../../../assets/images/nubankCase.png" alt="Case Nubank" class="imgCase__cases">
    <div class="hoverText">
      <img src="../../../assets/images/nu_Hover.png" alt="NuBank" class="hoverText__caseImg">
      <img src="../../../assets/images/solvo_white.png" alt="Solvo" class="hoverText__caseImg">
      <p class="hoverText__yearHover">2023</p>
      <a href="" class="hoverText__linkCase">
        <p class="">Ver Case</p>
      </a>
    </div>
  </div>
  <div class="imgCase ">
    <img src="../../../assets/images/vivoCase.png" alt="Case Vivo" class="imgCase__cases">
    <div class="hoverText">
      <img src="../../../assets/images/vivo_Hover.png" alt="Vivo Brasil" class="hoverText__caseImg">
      <img src="../../../assets/images/wib_white.png" alt="Wib" class="hoverText__caseImg">
      <p class="hoverText__yearHover">2023</p>
      <a href="" class="hoverText__linkCase">
        <p class="">Ver Case</p>
      </a>
    </div>
  </div>
  <div class="imgCase ">
    <img src="../../../assets/images/ifoodCase.png" alt="Case Ifood" class="imgCase__cases">
    <div class="hoverText">
      <img src="../../../assets/images/ifood_Hover.png" alt="IFood" class="hoverText__caseImg">
      <img src="../../../assets/images/wib_white.png" alt="Wib" class="hoverText__caseImg">
      <p class="hoverText__yearHover">2023</p>
      <a href="" class="hoverText__linkCase">
        <p class="">Ver Case</p>
      </a>
    </div>
  </div>
  <div class="imgCase ">
    <img src="../../../assets/images/aleloCase.png" alt="Case Alelo" class="imgCase__cases">
    <div class="hoverText">
      <img src="../../../assets/images/alelo_Hover.png" alt="Alelo" class="hoverText__caseImg">
      <img src="../../../assets/images/solvo_white.png" alt="Solvo" class="hoverText__caseImg">
      <p class="hoverText__yearHover">2023</p>
      <a href="" class="hoverText__linkCase">
        <p class="">Ver Case</p>
      </a>
    </div>
  </div>
</div>
<div class="btnDiv mx-auto my-5">
  <button class="btnLight btnExplore">
    <p class="btnText exploreBtn">Explorar Cases</p>
  </button>
</div>
<!-- /SUCCESS CASE -->

<!-- PARCEIROS -->
<div class="container">
  <div class="section">
    <div class="tituloServicos">
      <h6 class="minTitle">Parceiros</h6>
      <div class="subTitulo">
        <p>Curadoria de <span class="bold">parceiros reconhecidos.</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 ms-auto">
        <img src="../../../assets/images/solace.png" alt="...." class="">
      </div>
      <div class="col-4 me-auto">
        <p class="parceirosTxt">
          <span class="bold">Projetar, implantar e gerenciar arquitetura orientada a eventos (EDA)</span>
          em ambientes de nuvem híbrida, multinuvem e IoT.
        </p>
      </div>
    </div>
    <div class="btnDiv mx-auto my-5">
      <button class="btnLight">
        <p class="btnText">Exibir todos</p>
      </button>
    </div>
  </div>
</div>
<!-- /PARCEIROS -->
<!-- CAROUSEL PARCEIROS TESTE -->

<!-- <div id="carouselExampleIndicators2" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md-4">
        <div class="row">
          <div class="col-4 ms-auto">
            <img src="../../../assets/images/solace.png" alt="Solace Brand" class="">
          </div>
          <div class="col-4 me-auto">
            <p class="parceirosTxt">
              <span class="bold">Projetar, implantar e gerenciar arquitetura orientada a eventos (EDA)</span>
              em ambientes de nuvem híbrida, multinuvem e IoT.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-4">
        <div class="row">
          <div class="col-4 ms-auto">
            <img src="../../../assets/images/solvo.png" alt="Solvo Brand" class="">
          </div>
          <div class="col-4 me-auto">
            <p class="parceirosTxt">
              <span class="bold">Descubram, priorizem, mitiguem e corrijam automaticamente os riscos </span>
              de acesso à infraestrutura de nuvem.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-4">
        <div class="row">
          <div class="col-4 ms-auto">
            <img src="../../../assets/images/wib.png" alt="Wib Brand" class="">
          </div>
          <div class="col-4 me-auto">
            <p class="parceirosTxt">
              <span class="bold">A Wib API oferece visibilidade contínua em todo o ciclo de vida da API</span>
              , desde o código até o teste e a produção.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
<!-- /CAROUSEL PARCEIROS TESTE -->
<app-carouselTest></app-carouselTest>

<app-footer></app-footer>
