<app-carousel></app-carousel>

<!-- SERVIÇOS -->
<div class="container">
  <div class="section">
    <div class="tituloServicos">
      <h6 class="minTitle">Serviços</h6>
      <div class="subTitulo">
        <p>Conheça nossas habilidades <span class="bold">em tecnologia.</span></p>
      </div>
    </div>
    <div class="cards">
      <div class="card cardService">
        <div class="card-body">
          <img src="../../../assets/images/iconExemple.png" class="imgService">
          <h3 class="card-title">Nomenclatura do Serviço</h3>
          <p class="card-text">Breve descritivo sobre o serviço ou exemplos de aplicações.</p>
        </div>
      </div>
      <div class="card cardService">
        <div class="card-body">
          <img src="../../../assets/images/iconExemple.png" class="imgService">
          <h3 class="card-title">Nomenclatura do Serviço</h3>
          <p class="card-text">Breve descritivo sobre o serviço ou exemplos de aplicações.</p>
        </div>
      </div>
      <div class="card cardService">
        <div class="card-body">
          <img src="../../../assets/images/iconExemple.png" class="imgService">
          <h3 class="card-title">Nomenclatura do Serviço</h3>
          <p class="card-text">Breve descritivo sobre o serviço ou exemplos de aplicações.</p>
        </div>
      </div>
    </div>
    <div class="btnDiv mx-auto my-5">
      <button class="btnLight">
        <p class="btnText">Exibir todos</p>
      </button>
    </div>
  </div>
</div>
<!-- /SERVIÇOS -->

<!-- SUCCESS CASE -->
<div class="container">
  <div class="section">
    <div class="tituloServicos">
      <h6 class="minTitle">Success Case</h6>
      <div class="subTitulo">
        <p>Clientes que afirmam <span class="bold">nossa experiência.</span></p>
      </div>
    </div>
  </div>
</div>
<div class="imgCards">
  <div class="imgCase ">
    <img src="../../../assets/images/nubankCase.png" alt="Case Nubank" class="imgCase__cases">
    <div class="hoverText">
      <img src="../../../assets/images/nu_Hover.png" alt="NuBank" class="hoverText__caseImg">
      <img src="../../../assets/images/solvo_white.png" alt="Solvo" class="hoverText__caseImg">
      <p class="hoverText__yearHover">2023</p>
      <a href="" class="hoverText__linkCase">
        <p class="">Ver Case</p>
      </a>
    </div>
  </div>
  <div class="imgCase ">
    <img src="../../../assets/images/vivoCase.png" alt="Case Vivo" class="imgCase__cases">
    <div class="hoverText">
      <img src="../../../assets/images/vivo_Hover.png" alt="Vivo Brasil" class="hoverText__caseImg">
      <img src="../../../assets/images/wib_white.png" alt="Wib" class="hoverText__caseImg">
      <p class="hoverText__yearHover">2023</p>
      <a href="" class="hoverText__linkCase">
        <p class="">Ver Case</p>
      </a>
    </div>
  </div>
  <div class="imgCase ">
    <img src="../../../assets/images/ifoodCase.png" alt="Case Ifood" class="imgCase__cases">
    <div class="hoverText">
      <img src="../../../assets/images/ifood_Hover.png" alt="IFood" class="hoverText__caseImg">
      <img src="../../../assets/images/wib_white.png" alt="Wib" class="hoverText__caseImg">
      <p class="hoverText__yearHover">2023</p>
      <a href="" class="hoverText__linkCase">
        <p class="">Ver Case</p>
      </a>
    </div>
  </div>
  <div class="imgCase ">
    <img src="../../../assets/images/aleloCase.png" alt="Case Alelo" class="imgCase__cases">
    <div class="hoverText">
      <img src="../../../assets/images/alelo_Hover.png" alt="Alelo" class="hoverText__caseImg">
      <img src="../../../assets/images/solvo_white.png" alt="Solvo" class="hoverText__caseImg">
      <p class="hoverText__yearHover">2023</p>
      <a href="" class="hoverText__linkCase">
        <p class="">Ver Case</p>
      </a>
    </div>
  </div>
</div>
<div class="btnDiv mx-auto my-5">
  <button class="btnLight btnExplore">
    <p class="btnText exploreBtn">Explorar Cases</p>
  </button>
</div>
<!-- /SUCCESS CASE -->

<!-- PARCEIROS -->
<div class="container">
  <div class="section">
    <div class="tituloServicos">
      <h6 class="minTitle">Parceiros</h6>
      <div class="subTitulo">
        <p>Curadoria de <span class="bold">parceiros reconhecidos.</span></p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 ms-auto">
        <img src="../../../assets/images/solace.png" alt="...." class="">
      </div>
      <div class="col-4 me-auto">
        <p class="parceirosTxt">
          <span class="bold">Projetar, implantar e gerenciar arquitetura orientada a eventos (EDA)</span>
          em ambientes de nuvem híbrida, multinuvem e IoT.
        </p>
      </div>
    </div>
    <div class="btnDiv mx-auto my-5">
      <button class="btnLight">
        <p class="btnText">Exibir todos</p>
      </button>
    </div>
  </div>
</div>
<!-- /PARCEIROS -->


<app-footer></app-footer>
