.parceirosTxt{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #B6B6B6;

    .bold{
      color: #001322;
    }
}

.row {
    display: flex;
    justify-content: center;
    align-content: center;
}

.img-container{
    width: 27%;
}

.text-container{
    width: 25%;
}

.img-carousel{
  width: auto!important;
}

