<owl-carousel-o [options]="carouselOptions">
  <ng-container *ngFor="let item of items">
    <ng-template carouselSlide [id]="item.id">
        <div class="row d-flex">
          <div class="col-md-4 col-12 ms-auto mt-lg-0 mt-5">
            <img [src]="item.imgUrl" alt="{{item.altText}}" class="img-carousel  mx-auto">
          </div>
          <div class="col-md-4 col-12 me-auto mt-lg-0 mt-5">
            <p class="parceirosTxt">
              <span class="bold">{{item.title}}</span>
              {{item.text}}
            </p>
          </div>
        </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
