<app-menu></app-menu>
<div class="container mt-5">
  <app-breadcrumb></app-breadcrumb>
  <div class="row">
    <div class="col-lg-9 col-xs-12" *ngFor="let case of currentCase">
      <div class="case">
        <h3 class="case__Title">Case de Sucesso da
          <br />
          <span>{{currentCase[0]?.caseSucesso}}</span>
        </h3>
        <div class="case__Partner mt-3">
          <p class="card-partner">{{currentCase[0]?.year}} <span>|</span> Tecnologia Parceira:
            {{currentCase[0]?.nomeParceira}}
          </p>
        </div>
        <div class="case__Article mt-5">
          <p class="case__Subtitle">Sobre o {{currentCase[0]?.caseSucesso}}</p>
          <div class="case__ImgCase mb-4">
            <img class="imgDesktop" [src]="currentCase[0]?.img2" [alt]="currentCase[0]?.alt">
            <img class="imgMobile" [src]="currentCase[0]?.imgMobile" [alt]="currentCase[0]?.alt">
          </div>

          <div class="case__Text">
            <p class="mb-3">
              {{currentCase[0]?.detalhes.sobre}}
            </p>

            <p class="case__Subtitle">Desafio</p>

            <p class="mb-3">
              {{currentCase[0]?.detalhes.desafio}}
            </p>

            <p class="case__Subtitle">Solução</p>

            <p class="mb-3">
              {{currentCase[0]?.detalhes.solucao}}
            </p>

          </div>
        </div>
        <div class="case__socialMedia mt-5 mb-5">
          <span class="me-5 itens">Compartilhar</span>
          <a href="https://www.linkedin.com/company/sennatech-spc-info" class="me-lg-5 me-3 text-reset">
            <i class="bi bi-linkedin fs-7"></i>
          </a>
          <a href="https://api.whatsapp.com/send/?phone=5511985117466&text=Olá+estou+interessado+em+conhecer+a+Sennatech+%21+&type=phone_number&app_absent=0" class="me-lg-4 me-3 text-reset">
            <i class="bi bi-whatsapp fs-7"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xs-12">
      <h5 class="case__relacionados">Cases Relacionados</h5>
      <div class="card cardCase mb-3" *ngFor="let cases of relatedCasesList | keyvalue">
        <div class="card-body">
          <p class="card-partner">{{ cases.value.year }} | Parceiro: {{ cases.value.nomeParceira }}</p>
          <h3 class="card-title">Case de Sucesso da {{ cases.value.caseSucesso }}</h3>
          <a (click)="goToCase(cases.value.caseSucesso)" class="card-link">
            <p class="card-text mt-5">Ler Case <i class="bi bi-arrow-up-right"></i></p>
          </a>
        </div>
      </div>

      <a routerLink="/cases">
        <p class="case__otherCase">Ver outros Cases</p>
      </a>
    </div>
  </div>

</div>
<app-footer></app-footer>
