<app-menu></app-menu>
<div class="container mt-5">
  <app-breadcrumb></app-breadcrumb>
  <!-- <router-outlet></router-outlet> -->
  <h3 class="cases__title">Clientes que afirmam
    <br />
    <span>nossa experiência.</span>
  </h3>
  <div class="row mb-3">
    <div class="cases__filter">
      <app-custom-filter></app-custom-filter>
    </div>
  </div>
  <div class="row mb-5 mt-5" *ngFor="let case of getPaginatedCases()">
    <div class="col-6">
      <img [src]="case.img" [alt]="case.alt">
    </div>
    <div class="col-6">
      <div class="case__Partner">
        <p class="">{{case.year}} <span>|</span> Tecnologia Parceira: {{case.nomeParceira}}</p>
      </div>
      <div class="case__Title">
        <p class="">Case de Sucesso da {{case.caseSucesso}}</p>
      </div>
      <div class="case__Text">
        <p class="">{{case.discritivo}}</p>
      </div>
      <div class="case__Link">
        <a routerLink="./case">
          <p class="">Ler Case Completo <i class="bi bi-arrow-up-right"></i></p>
        </a>
      </div>
    </div>
  </div>
  <div class="mb-5 mt-5">
    <app-pagination
      [lista]="caseslist"
      [currentPage]="currentPage"
      (pageChanged)="pageChanged($event)"
    ></app-pagination>
  </div>
</div>
<app-footer></app-footer>