.spacer {
  flex: 25;
}

.sennatechLogo{
  flex: 10;
  text-align: center;

}

.pages{
  flex: 30;
  text-align: center;
}

.menu{


  &__home{
    background-color: #00132200 !important
  }

  &__others{
    background-color: #001322!important;
  }

  &__logo{
    width: 33%;
    text-align: center;
  }
  &__pages{
    width: 33%;
  }
  &__search{
    width: 33%;
    display: flex;
  }
}

.nav-link{
  font-family: 'Poppins';
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;

  &:hover{
    color: #6AF4FF;
    transition: 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
    text-align: -webkit-center;
  }
}

.active{
  font-weight: 600;
}
