<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="menu__logo">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/images/logo_sennatech.png"/>
    </a>
  </div>
  <a class="navbar-toggler " type="button" href="#navbarNav" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </a>
  <div class=" navbar-collapse collapse menu__pages justify-content-center" id="navbarNav">
    <ul class="navbar-nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/sobre">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/servicos">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cases">Cases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parceiros">Parceiros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/carreira">Carreira</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contatos">Contato</a>
      </li>
    </ul>
  </div>
  <div class="menu__search justify-content-end">
    <app-search></app-search>
  </div>
</nav>
