<!-- <ul>
  <li *ngFor="let breadcrumb of (breadcrumbs$ | async)">
    <a [href]="breadcrumb.url">{{ breadcrumb.label }}</a>
  </li>
</ul> -->
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#">Data</a></li>
  </ol>
</nav> -->
<!-- <ol class="breadcrumb">
  <li class="breadcrumb-item" *ngFor="let item of breadcrumbItems; let last = last" [ngClass]="{ active: last }">
    <a *ngIf="!last" [routerLink]="item.link">{{ item.label }}</a>
    <span *ngIf="last">{{ item.label }}</span>
  </li>
</ol> -->
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>
