<!-- <ul>
  <li *ngFor="let breadcrumb of (breadcrumbs$ | async)">
    <a [href]="breadcrumb.url">{{ breadcrumb.label }}</a>
  </li>
</ul> -->
<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="#">Data</a></li>
  </ol>
</nav> -->
<!-- <ol class="breadcrumb">
  <li class="breadcrumb-item" *ngFor="let item of breadcrumbItems; let last = last" [ngClass]="{ active: last }">
    <a *ngIf="!last" [routerLink]="item.link">{{ item.label }}</a>
    <span *ngIf="last">{{ item.label }}</span>
  </li>
</ol> -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" *ngFor="let item of breadcrumb; let last = last">
        <a *ngIf="!last" href="#">{{ item }}</a>
        <span *ngIf="last">{{ item }}</span>
      </li>
    </ol>
</nav>

